 
body {
  background-image:url(https://www.wallpaperup.com/uploads/wallpapers/2015/07/24/761420/c0216adae91fa2889b27c73853b9ffee.jpg);

  background-color: rgb(0, 0, 0, 1.0);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
    background-color: #3a4a58;
    color: #8c8c8c;
    /* font-family: "Open Sans", Arial, Helvetica, sans-serif; */
    font-size: 17px;
    padding: 15px;
  }
 
  .container {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-content { 
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 20px;
  }
   
  .restaurant-logo {
    background-image: url('./HTML/pics/restaurant\ logo.jpg');
    background-position: center;
    margin: auto;
    padding-top: 5px;
    height: 200px;
    width: 200px;
    transition: all 0.3s ease-in;
  }
  .restaurant-logo:hover{
    opacity: 0.5;
  }

  .page-header{
    text-align: center;
    color: blanchedalmond;
    vertical-align: baseline;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 2.1rem;
    font-weight: 400;
  }
  
  .section-header {
    color: #eb7c15;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  table {
    width: 100%;
    border-spacing: 0px;
  }
       
  td {
    text-align: center;
    padding: 10px 15px;
    color: black;
  }
 
  .text-left { text-align: left; }
   
  th {
    color: #030303;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
  }

  .dish{
    display: block;
    width: 250px;
    text-align: left;
    margin-left: 50px;
  }
 
  tr:nth-child(1) { background-color: #ddc65e; }
  tr:nth-child(even) { background-color: #ee9d52; }
 
  tr.tr-header {
    height: 50px;
  }
  
   .section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  } 
  
  .section-small {
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }
 
  p {
    font-size: 1rem;
    line-height: 1.7;
    color: black;
  }
 
  .mb-0 { margin-bottom: 0; }
  img { max-width: 100%; }

  

  hr{
     width: 90%;
   }
 
  .contact-link {
    color: #644242;
    font-weight: 600;
    text-decoration: none;
  }
  
  a { transition: all 0.3s ease-in-out; }
  .contact-link:hover { color: #940000; }
  
  .footer-text {
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .tm-footer-text{
    margin-left: 5px;
    color: grey;
  }
 
  .footer-link {
    color: #fff;
    text-decoration: none;
  }

  .footer-link:hover { color: #01050a; } 